<nav id="nav">

  <h2 id="nav-header">
    {% if 'username' in session %} Welcome {{ session['username'] }} {%
    endif %}
  </h2>
  <a class="btn-nav" href="{{ url_for('home_bp.home') }}">Home</a>
  <a class="btn-nav" href="{{ url_for('authentication_bp.register') }}">Register</a>
  <a class="btn-nav" href="{{ url_for('authentication_bp.login') }}">Login</a>
  <a class="btn-nav" href="{{ url_for('authentication_bp.logout') }}">Logout</a>



  <div>
    <a class="btn-nav-emph1" href="{{ url_for('advsearch_bp.advsearch') }}">Advanced Search</a>
    <a class="btn-nav-emph1" href="{{ url_for('watchlist_bp.watchlist') }}">Watchlist</a>
  </div>
</nav>
